html, body {
  background-color: lightslategrey;
  font-family: 'Open Sans', sans-serif;
}

#title h1 {
  text-align: center;
}

#title h2 {
    text-align: center;
}

/* Navigation */
#navbar {
  background-color: whitesmoke;
  margin: 0 auto 10px auto;
  padding: 0;
  text-align: center;
  width: 80%;
}
#navbar a {
  color: black;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 0 5%;
  text-decoration: none;
  transition: 0.3s;
}
ul {
    list-style-type: none;
    margin:0;
    text-align: center;
}

li {
    display: inline;
    padding: 60px;
}
#navbar a:hover {
  background-color: #FFFFFF;
  transition: 0.3s;
}

/* Content Container */
#container {
  /* border: solid 1px red; */
  background-color: rgba(200,200,200,0.5);
  display: block;
  font-size: 18px;
  height: 100%;
  margin: 0 auto;
  padding: 5%;
  padding-top: 2%;
  width: 70%;
  text-align: center;
}

#button {
    padding-top: 10px;
    text-align: center;
}

/* Footer */
footer {
  background-color: whitesmoke;
  color: black;
  display: block;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 80%;
}

/*media queries*/
@media screen and (min-width:768px) and (max-width: 1200px) {
	#container {
		width:93%;
	}

	#pictures {
		width:100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	#container {
		width:93%;
	}

	#pictures {
		height: 300px;
		width:100%;
	}
	h1 {
		font-size:2em;
	}
}
@media screen and (max-width: 480px) {
	#pictures {
		width: 100%;
		height:150px;
	}
	#container {
		width:93%;
	}
	li {
		padding:5px;
		font-size: 95%;
	}
	p {
		font-size:95%;
	}

	h1 {
		font-size: 1.7em;
	}
}